.main-nav
  //margin-top: rem(10px)
  ul
    display: flex
    text-align: center
    align-items: center
    justify-content: center
    li
      margin: 0 rem(8px)
    a
      display: inline-block
      border: 1px solid #dadada
      padding: rem(4px) rem(16px)
      &.current
        background-color: $black
        color: $white
      &:focus
        border-color: $black
