.home {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.box {
    width: 100px;
    height: 200px;
    background-color: red;
    &--text {
        font-size: 3vw;
    }
}

.variety {
    width: 1000px;
    height: 500px;
    background: yellow;
}
