.home {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.box {
    width: 100px;
    height: 200px;
    background-color: hotpink;
}

.default {
    width: 1000px;
    height: 500px;
    background: yellow;
}
