{
  "sourceMaps": true,
  "presets": [
    ["@babel/preset-env", {
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
