<!DOCTYPE html>
<html lang="en" style="opacity: 0" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="A description of the page">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google" content="notranslate">
    <meta name="Author" content="Irving Armenta">

    <link rel="manifest" href="static/manifest.json">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title>Irving Armenta - Frontend developer</title>
  </head>
  <body class="app">
    <noscript>
      Sorry! You need to enable JavaScript to run this app.
    </noscript>
    <main id="root" class="app__main"></main>
  </body>
</html>
