$general-font: 'Lato', -apple-system, BlinkMacSystemFont, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol', sans-serif;
$headings-font: 'Heebo', Helvetica, Lucida Console, Lucida Sans, sans-serif;
$ja-font: 'M PLUS 1p', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 游ゴシック , 游ゴシック体 , YuGothic , 'Yu Gothic', ＭＳ ゴシック , 'MS Gothic', sans-serif;

// colors
$black:  #333333;
$white: #f1f1f1;
