$theme-colors: (
    default: (
        primary: green,
        secondary: orange,
        tertiary: purple
    ),
    dark: (
        primary: magenta,
        secondary: hotpink,
        tertiary: rebeccapurple
    ),
    pixel: (
        primary: blue,
        secondary: skyblue,
        tertiary: pink
    )
);
