@import "../../globalStyles/mixins";
@import "../../globalStyles/themes";

.button {
    background-color: map-deep-get($theme-colors, "dark", "primary");
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    padding: 0.8em;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    &--text,
    &--outline {
        background-color: transparent;
    }
    &--text {
        box-shadow: 0 0 transparent;
        color: rgb(37, 37, 37);
        @include transition();
        &:hover {
            background-color: rgba(map-deep-get($theme-colors, "dark", "primary"), 0.2);
        }
        .ripple-effect {
            background-color: rgba(map-deep-get($theme-colors, "dark", "primary"), 0.3);
        }
    }
    &--outline {
        box-shadow: 0 0 0 1px rgb(109, 109, 109);
        color: rgb(37, 37, 37);
        .ripple-effect {
            background-color: rgba(map-deep-get($theme-colors, "dark", "primary"), 0.2);
        }
    }
    &--rounded {
        border-radius: 50%;
    }
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    animation: rippleAnimation 2s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: block;
    pointer-events: none;
}

@keyframes rippleAnimation {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}
